<header class="header">
  <div class="nav-wrapper">
    <a href="">
      Логотип
      <img src="" alt="">
    </a>
    <ul class="nav-menu">
      @for (itemMenu of menuList; track itemMenu) {
        <li class="nav-menu__item" (mouseenter)="toggleMenu(itemMenu)" (mouseleave)="isClose()">
          {{itemMenu}}

          @if (isOpen(itemMenu)) {
            <div class="item-submenu">
              @for (menu of subMenu(); track menu) {
                <div class="item-submenu__item" (click)="moveTo(itemMenu, menu)">
                  {{menu}}
                </div>
              }
            </div>
          }
        </li>
      }
    </ul>
  </div>
</header>
