@use "fonts.scss";

:root {
  --primary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
